* {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body,
html {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  background: var(--gradient-color);
}

.main-footer {
  margin-top: auto;
}

:root {
  --primary-color: #6b4f4f; /* Deep Brown */
  --secondary-color: #f7c6a7; /* Soft Peach */
  --accent-color: #b4d9d6; /* Cool Teal */
  --highlight-color: #ffd700; /* Bright Gold */
  --highlight-color-opacity: #ffd90098;
  --background-color: #faf3e0; /* Creamy White */
  --text-color: #3c3c3c; /* Dark Charcoal */
  --gradient-color: rgb(236, 236, 236);

  /* --gradient-color: linear-gradient(
    135deg,
    #faf3e0,
    #f7c6a7
  ); Cream to Peach Gradient */
}

/* :root {
 
  --primary-color: #2C3E50;
  --secondary-color: #27AE60;
 
  --light-color: #ECF0F1;
  --dark-color: #7F8C8D;
  --background-color: #FAFAFA;
 
  --accent-color: #E67E22;
} */

.overflow-hidden {
  overflow: hidden;
}

/* Popup */

.popup {
  z-index: 4;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.349);
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: visibility, opacity;
  transition-duration: 0.4s;
}

.popup button,
.popup a {
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(218, 218, 218);
  border: none;
  cursor: pointer;
}

.popup button:hover {
  opacity: 0.75;
}

.popup > div {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

.opened-popup {
  visibility: visible;
  opacity: 1;
}

/*
FAQ section
*/

.faq-section {
  margin: 10px auto;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.5rem;
  color: rgb(97, 97, 97);
}

h2 {
  font-size: 1.2rem;
}
